{% extends "base.html.twig" %}

{% block title %}AppBundle:React:counter{% endblock %}

{% block body %}
<h1>Welcome to the React:counter page</h1>
<div id="root"></div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('counter') }}
{% endblock %}
